@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap');


body{
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
    


}

.star{
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: hsl(216, 12%, 54%);
    background-color: transparent;

    
}



h2{
    color:white;
}

p{
    color: hsl(217, 12%, 63%) ;
}

.front button{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    border: none;
    color: white;
    background-color: hsl(216, 12%, 54%);
    /* background:rgb(216, 12, 54, 0.2); */
    opacity: 0.35;
    
}

button:hover{
    color: white;
    background-color: hsl(25, 97%, 53%);
    opacity: 1;
    

}



.submit button{
    width: 350px;
    height: 50px;
    border-radius:50px;
    margin-top: 20px;
    letter-spacing: 5px;
    background-color:hsl(25, 97%, 53%);
    color: white;
    opacity:1;

}

.submit button:hover{
    background-color: white;
    color:hsl(25, 97%, 53%) ;
}






.front{
    width: 375px;
    background-color: hsl(213, 19%, 18%);
    margin-left: auto;
    margin-right: auto;
   margin-top: 100px;
    padding: 15px;
    border-radius: 20px;
}



.back{
    width: 375px;
    background-color: hsl(213, 19%, 18%);
    
   margin-top: 100px;
    padding: 15px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    text-align: center;
    /* display: none; */
}

.back img{
    margin-left: auto;
    margin-right: auto;
    display:block;
    margin-top: 20px;
}

.back button{
    border-radius: 10px;
    border: none;
    text-align: center;
    color:hsl(217, 12%, 63%)  ;
    background-color:hsl(213, 19%, 18%);
    margin-top: 20px;
}


